@model IEnumerable<EShoppyWebApp.Models.Product>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExistsInStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExistsInStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ProductId=item.ProductId,ProductName = item.ProductName,ProductDescription = item.ProductDescription, ProductPrice = item.ProductPrice, ExistsInStock = item.ExistsInStock, CategoryId=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { ProductId = item.ProductId, ProductName = item.ProductName, ProductDescription = item.ProductDescription, ProductPrice = item.ProductPrice, ExistsInStock = item.ExistsInStock, CategoryId = item.CategoryId })
        </td>
    </tr>
}

</table>
